@* Strongly typed view *@
@* @model IEnumerable<Employee> *@
<h1>Employees List</h1>
<p>
    <ol>

    @{
    //var employees=ViewData["Employee"] as IEnumerable<Employee>;
    //var employees=ViewBag.Employee;
    //foreach (var employee in employees )
    <li><em>Id     FirstName     LastName</em> </li>
        foreach(var employee in Model)
        {
                <li>
                    @employee.Id @employee.FirstName  @employee.LastName    <a asp-controller="Employee" asp-action="EditEmployee" asp-route=@employee.Id>Edit</a>
                </li>       
        }
    }
    </ol>
    @Html.ActionLink("Add Employee","AddEmployee")
</p>
@* @Html.Partial("_DateTimePartial") *@
<partial name="_DateTimePartial"/>